{% extends 'base.html' %}

{% block content %}

<div class="content">

    <h3 class="title2">{{ title_h3 }}</h3>

    {% for recipe in recipes %}
        <div class="tile">
            <h3 class="title3"><a href="{{ recipe.get_absolute_url }}">{{ recipe.name }} </a></h3>
            <p class="text">{{ recipe.category }} </p>
            {% if recipe.image %}
                <img class="img_main" src="{{ recipe.image.url }}" alt="recipe img">
            {% else %}
                <img class="img_main" src="{{ MEDIA_URL }}default.png" alt="recipe img">
            {% endif %}
        </div>
    {% endfor %}

</div>

{% endblock %}
