{% extends 'base.html' %}

{% block content %}
<h3>{{ title_h3 }}</h3>

{% if request.user.is_authenticated %}
    <div class="error">{{ form.non_field_errors }}</div>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        {% for field in form %}
            <p>{{ field.label }} </p>
            <p>{{ field }}</p>
            <div class="error">{{ f.errors }}</div>
        {% endfor %}

    <input type="submit" value="Добавить">
</form>

{% else %}
        <p> Чтобы добавлять рецепты, <a href="{% url 'login' %}">войдите</a> или <a href="{% url 'register' %}">зарегистрируйтесь</a>  </p>
{% endif %}

{% endblock %}
