{% extends 'base.html' %}

{% block content %}

<div class="block">

    <h3 class="title2">{{ title_h3 }}</h3>

    {% if request.user.is_authenticated %}
        <div class="error">{{ form.non_field_errors }}</div>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            {% for field in form %}
                <p class="recipe_text_center">{{ field.label }} </p>
                <p class="recipe_text_center">{{ field }}</p>
                <div class="error">{{ f.errors }}</div>
            {% endfor %}

            <p class="recipe_text_center"><input class="button" type="submit" value="Добавить"></p>
    </form>

    {% else %}
            <p> Чтобы добавлять рецепты, <a href="{% url 'login' %}">войдите</a> или <a href="{% url 'register' %}">зарегистрируйтесь</a>  </p>
    {% endif %}

</div>

{% endblock %}
