{% extends 'base.html' %}

{% block content %}
{# load static #}

<div class="block">
    <h3>{{ title_h3 }}</h3>

    {% if messages %}
        <ul style="color:red">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if recipes %}

        {% with author_id=recipes.0.author.pk %}
	        {% if author_id == request.user.id %}<!-- показывать кнопку добавить только автору -->
        	    <p>  <a href="{% url 'new_recipe' %}">Добавить новый рецепт</a> </p>
            {% endif %}
        {% endwith %}

        <ol>
        {% for recipe in recipes %}
            <li> <a href="{{ recipe.get_absolute_url }}">{{ recipe.name }} </a> </li>
            <p>{{ recipe.category }}</p>
            {% if recipe.image %}
                <img class="img" src="{{ recipe.image.url }}" height="100" alt="recipe img">
            {% else %}
                <img class="img" src="{{ MEDIA_URL }}default.png" height="100" alt="recipe img">
            {% endif %}
        {% endfor %}
        </ol>
    {% else %}
        <p> Пока тут нет ни одного рецепта </p>
    {% endif %}

</div>


{% endblock %}
